<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--设置urlrewriter组件-->
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <!--地址重写规则-->
  <rewriter file="~/xml/rule.xml"/>
  <appSettings>
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Dukey.SQLiteDAL"/>
    <!--<add key="DAL" value="Dukey.SQLServerDAL"/>-->
    <add key="smtpServer" value="smtp.qq.com"/>
    <add key="smtpPort" value="25"/>
    <add key="mainAccount" value="xxx@qq.com"/>
    <add key="mainPwd" value="xxx"/>
    <add key="authemail" value="xxx@qq.com"/>
    <add key="cdn" value="false"/>

  </appSettings>
  <connectionStrings>
    <!--配置数据库连接mssql-->
    <add name="strWeb" connectionString="data source=|DataDirectory|\db.db;Persist Security Info=True"/>
    <!--<add name="strWeb" connectionString="Data Source=(local);Initial Catalog=dukeycmsdb;Integrated Security=True" />-->    
    <!--access数据库路径,当DAL=Dukey.AccessDAL时有效-->
    <add name="AccessDbPath" connectionString="~/App_Data/db.mdb"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="400960" useFullyQualifiedRedirectUrl="true" requestValidationMode="2.0"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off"/>
    <sessionState timeout="120" mode="InProc" cookieless="UseCookies"/>
    <!--页面主题设置-->
    <!--<httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>-->
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="dddd" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <!--C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="default.aspx"/>
        <add value="index.ashx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>